testslope.gcode
/__pycache__
/printer/__pycache__
/renderer/__pycache__
/scheduler/__pycache__
/printer/__pycache__
/camera/__pycache__
/vision/__pycache__
/printer/__pycache__
/__pycache__
test_camera.py
test_octoprint.py
/.venv
